.fa-search {
  position: absolute;
  margin-left: -26px;
  margin-top: -28px;
}

.container-choose-degree {
  margin-top: 40vh;
  text-align: center;
}

#choose-degree {
  width: 100%;
}

.dropdown{
  text-align: right;
}
.dropdown-menu {
  width: 100%;
  padding: 15px;
}
.dropdown-menu li {
  margin-bottom: 10px;
  border-bottom: 1px dashed #e6e6e6;
  padding-bottom: 5px;
  font-size: 14px;
}