<template name="node">

            {{#if isCompleted}}
                <button data-id="{{id}}" class="btn btn-secondary course-node completed-node">
                  {{name}}
                </button>
            {{else if isInProgress}}
                <button data-id="{{id}}" class="btn btn-secondary course-node in-progress-node">
                  <span class="label label-info ip-marker">IP</span> {{name}}
                </button>
            {{else}}
                <button data-id="{{id}}" class="btn btn-primary course-node">
                  {{name}}
                </button>
            {{/if}}


    {{#if hasChilds}}
           <ul>
                {{#each childs}}
                <li>
                    {{>node}}
                </li>
                {{/each}}
           </ul>
    {{/if}}

</template>
