<template name="diagramSidebar">
  <div class="left-menu">
    <div class="back-button"><i class="fa fa-arrow-left" aria-hidden="true"></i>Back</div>

    <hr/>

    <div class="degree">Bachelor of Science in Computer Science</div>

    <div class="degree-description">The Bachelor of Science in Computer Science focuses on the
      fundamentals of program design, software development, computer organization, systems and
      networks, theories of computation, principles of languages, and advanced algorithms and data.
      The bachelor's degree in computer science is also offered with a concentration in cyber
      operations.
    </div>

    <hr/>

    <div class="credit">Total Credits Needed:
      <b>128</b>
    </div>
    <div class="credit">Credits Completed:
      <b>102</b>
    </div>
    <div class="credit">Remaining Credits:
      <b>26</b>
    </div>

    <hr/>

    <div class="classes-title">Remaining Classes (10)</div>
    <div class="classes-remaining">
      <!-- TODO make not hard-coded -->
      <div class="classes">CS3000 - Algorithms and Data</div>
      <div class="classes">CS3000 - Algorithms and Data</div>
      <div class="classes">CS3000 - Algorithms and Data</div>
      <div class="classes">CS3000 - Algorithms and Data</div>
      <div class="classes">CS3000 - Algorithms and Data</div>
      <div class="classes">CS3000 - Algorithms and Data</div>
      <div class="classes">CS3000 - Algorithms and Data</div>
      <div class="classes">CS Elective</div>
      <div class="classes">CS Elective</div>
      <div class="classes">CS Elective</div>

    </div>
  </div>
</template>