<template name="diagramSidebar">
  <div class="left-menu">
    <div class="back-button"><i class="fa fa-arrow-left" aria-hidden="true"></i>Back</div>

    <hr/>

    <div class="degree">{{degree.name}}</div>

    <div class="degree-description">{{degree.description}}</div>

    <hr/>

    <div class="credit">Total Credits Needed:
      <b>{{degree.semesterHoursRequired}}</b>
    </div>
    <div class="credit">Credits Completed:
      <b>{{completedCredits}}</b>
    </div>
    <div class="credit">Remaining Credits:
      <b>{{remainingCredits}}</b>
    </div>

    <hr/>

    <div class="classes-title">Remaining Classes</div>
    <div class="classes-remaining">

      {{#each remaining}}

      <div class="classes" data-id="{{id}}">
        {{this.id}} - {{this.name}}
      </div>

      {{/each }}

      {{#each electives}}

      <div class="classes" data-id="{{id}}">
        {{this}}
      </div>

      {{/each }}
    </div>
  </div>
</template>