<template name="diagramSidebar">
  <div class="left-menu">
    <a href="/choose" class="back-button"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
    <button class="btn btn-link hide-button"><i class="fa fa-minus-circle" aria-hidden="true"></i></button>

    <hr/>

    <div class="degree">{{degree.name}}</div>

    <div class="degree-description">{{degree.description}}</div>

    <hr/>

    <div class="credit">Total Credits Needed:
      <b>{{degree.semesterHoursRequired}}</b>
    </div>
    <div class="credit">Credits Completed:
      <b>{{completedCredits}}</b>
    </div>
    <div class="credit">Remaining Credits:
      <b>{{remainingCredits}}</b>
    </div>

    <hr/>

    <div class="classes-title">Remaining Classes</div>
    <input type="text" placeholder="Search..." class="form-control dropdown-toggle" id="search-class">
    <div class="classes-remaining" id="classes-remaining">

      {{#each remaining}}

      <div class="classes" data-id="{{id}}">
        {{this.id}} - {{this.name}}
      </div>

      {{/each }} {{#each selected}}

      <div class="classes" data-id="{{id}}">
        Elective: {{this.id}} - {{this.name}}
      </div>

      {{/each }} {{#each electives}}

      <div class="classes" data-id="{{id}}">
        {{name}}
      </div>

      {{/each }}
    </div>
  </div>
    <button class="btn btn-link show-button"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
</template>
