<template name="overlayCourse">
    <div class="col-xs-12 overlay-section">
        <div class="course-name">{{course.name}}</div>
        <div class="overlay-close">X</div>

        <div class="course-description">
            {{course.description}}
        </div>
        <div class="course-requisites">Credits: {{course.credits}}</div>
        <div class="course-requisites">Corequisites: {{#each course.coreqs}} {{this}} {{/each }}</div>
        <div class="course-requisites">Prerequisites: {{#each course.prereqs}} {{this}} {{/each }}</div>

    </div>
</template>