/* red: #cc0000
dark blue: #0b4f6c
light blue: #01baef
grey: #efefef
black: #040f16 */

#sidebar {
  background-color: white;
  height: 100%;
  overflow-y: auto;
}

#content {
  padding: 0;
}

#content .container-fluid {
  padding: 0;
}

.left-menu {
  padding-top: 20px;
  height: 100%;
}

.back-button {
  font-weight: 700;
}

.back-button {

}

.degree {
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 10px;
}

.degree-description {
  font-size: 16px;
  font-weight: 300;
}

.credit {
  font-size: 16px;
}

.classes-title {
  font-size: 20px;
  font-weight: 700;
}

.classes {
  font-size: 17px;
  padding: 5px;
  background-color: white;
  border-bottom: #efefef;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

.classes:hover {
  background-color: #efefef;
  cursor: pointer;
  transition: background-color 0.25s;
}

.visualization {
  position: relative;
}

.visualization-key {
  padding: 15px;
  display: inline-flex;
  width: 100%;
}

.square {
  margin-left: 5px;
  margin-right: 5px;
  height: 25px;
  width: 25px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
}

.square-complete {
  background-color: white;
}

.square-incomplete {
  background-color: #448bb2;
}

.graph {
  height: 50%;
}

#overlay {
  min-height: 100px;
  max-height: 450px;
  padding: 15px;
  position: fixed;
  background-color: white;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.5);
  right: 0;
  left: 0;
  bottom: 0;
  display: none;
}

.overlay-close {
  position: absolute;
  right: 5%;
  top: 5%;
  font-size: 20px;
}

.course-name {
  font-weight: 700;
  font-size: 25px;
}

.course-description {
  font-weight: 300;
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.course-requisites {
  font-size: 16px;
  padding-bottom: 10px;
}

.overlay-card-header {
  padding: 0;
}

.choose-elective {
  float: right;
  margin-top: -10px;
  margin-right: -10px;
  padding: 2px 10px;
}
