@import url('https://fonts.googleapis.com/css?family=Exo:900i|Roboto:300,500,700');

.logo {
  font-family: "Exo", sans-serif;
}

html {
  height: 100%;
}
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  background-color: #efefef;
}