@import url("logo.css");
@import url("login.css");
@import url("choose-degree.css");

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  height: 100%;
}

.logo {
  font-family: "Exo", sans-serif;
}

body {
  padding: 10px;
  font-family: "Roboto", sans-serif;
  background-color: #efefef;
}