<template name="chooseDegree">
    <div class="education-bg">
        <div class="education-bg-overlay"></div>
    </div>
    <h5 class="logo-small">cDegree</h5>
    <div class="col-sm-6 col-sm-offset-3 col-md-4  col-md-offset-4 container-choose-degree">
        <h2>Choose a Degree</h2>
        <div id="choose-degree-container" class="dropdown">
            <input type="text" placeholder="Search..." class="form-control dropdown-toggle"
                   id="choose-degree">
            <i class="fa fa-search" aria-hidden="true"></i>
            <div id="degree-dropdown" class="dropdown-menu">
                <ul class="list-unstyled">
                    <li>
                        <a class="dropdown-item" href="/diagram">Computer Science BS</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/diagram">Computer Science and Information Science Combined BS</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>