<<<<<<< Updated upstream
=======
@import url("login.css");

* {
  overflow: hidden !important;
}

>>>>>>> Stashed changes
body {
  padding: 10px;
  font-family: "Roboto", sans-serif;
  background-color: #efefef;
}
