<template name="login">
    <div class="education-bg">
        <div class="education-bg-overlay"></div>
    </div>
    <div class="logo">cDegree</div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form>
                <div class="form-group">
                    <label for="exampleDropdownFormEmail2">email address</label>
                    <input type="email" class="form-control" name="loginEmail" id="exampleDropdownFormEmail2" placeholder="email@example.com">
                </div>
                <div class="form-group">
                    <label for="exampleDropdownFormPassword2">password</label>
                    <input type="password" class="form-control" name="loginPassword" id="exampleDropdownFormPassword2" placeholder="password">
                </div>
                <input type="submit" value="Sign in" class="btn login-btn">
            </form>
        </div>
    </div>
</template>