<template name="login">
    <div class="education-bg">
        <div class="education-bg-overlay">
            <div class="logo">cDegree</div>
            <form class="col-md-4 offset-md-4">
                <div class="form-group">
                    <label for="exampleDropdownFormEmail2">email address</label>
                    <input type="email" class="form-control" id="exampleDropdownFormEmail2" placeholder="email@example.com">
                </div>
                <div class="form-group">
                    <label for="exampleDropdownFormPassword2">password</label>
                    <input type="password" class="form-control" id="exampleDropdownFormPassword2" placeholder="password">
                </div>

                <a href="choose-degree.html" class="btn login-btn">Sign in</a>

            </form>
        </div>
    </div>
</template>